/*Color in logo: #654be6*/
/*push changes on server*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,700i,800,800i");
body {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
}
.main-body-header {
  overflow: hidden;
  background-color: #333;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 18vh;
}

a:visited {
  color: initial;
}
.main-body-left-header img {
  padding-left: 2%;
  padding-top: 1%;
  padding-right: 1%;
}
.page-title {
  display: inline-block;
  padding-top: 2%;
  font-family: "Raleway";
  font-weight: bold;
  color: #7c7bef;
}

.page-title .name-header {
  font-size: 2.25em;
}
.page-title .subtitle-header {
  float: left;
  font-size: 1em;
}

.main-body-nav {
  position: relative;
  align-self: center;
  font-family: "Raleway";
  font-size: 1em;
  min-inline-size: fit-content;
}

.main-body-nav > a {
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.main-body-nav > a:hover {
  color: #7c7bef;
}

.page-section {
  background-color: inherit;
  z-index: 100;
  overflow: hidden;
  clear: both;
  display: block;
  text-align-last: center;
}

.page-section .inline-block {
  position: inline-block;
}
.page-section h2 {
  font-size: 2em;
  color: white;
  background-color: #333;
  padding: 1em;
}
.page-section p {
  color: white;
  font-size: 1.1em;
  line-height: 2;
}

.contact-box {
  background-repeat: repeat-x;
  position: static;
  align-items: center;
  background-color: rgb(51, 51, 51, 0.9);
  display: flex-box;
  z-index: 100;
  padding-bottom: 1em;
  overflow: hidden;
  clear: both;
}

.right-headshot {
  padding-right: 0;
  padding-top: 0;
}

.right-headshot img {
  width: 20%;
  border-radius: 16px;
}

ul.left-information li {
  display: block;
  float: left;
  width: 65%;
  text-align: left;
}

/*This edits the second collumn*/
ul.left-information li ul.content-contact li {
  display: block;
  font-size: 1em;
  color: #fff;
  margin-top: 1em;
  font-weight: 400;
  float: left;
}

ul.left-information li ul.content-contact li a {
  color: #fff;
  border-bottom: 3px solid #7c7bef;
  text-decoration: none;
}

/*Second collumn active */
ul.left-information li ul.content-contact li a:hover {
  color: #7c7bef;
}

ul.left-information li ul.content-contact li:nth-child(1) {
  width: 32%;
  font-weight: bold;
}

#contact-title {
  color: #fff;
  font-weight: bold;
  float: left;
  width: 40%;
  font-size: 1.3em;
  padding-bottom: -10%;
}

.inline-block {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  height: 7em;
  padding: 2em;
  margin: 2em;
  background-color: #7c7bef;
  border-radius: 15px;
  width: 13%;
}

.inline-block:hover {
  opacity: 0.7;
  color: #7c7bef;
}

.footer {
  position: static;
  align-items: center;
  background-color: rgb(51, 51, 51, 0.9);
  display: block;
  z-index: 100;
  margin: 0;
  font-size: 0.8em;
  color: #fff;
  overflow: hidden;
  clear: both;
  text-align: center;
}

.section-items {
  background-color: white;
  padding: 1em;
  width: 85%;
  margin: auto;
}

.item {
  display: inline-flex;
  width: 95%;
  justify-content: space-around;
  margin: 1em;
}

.item-text {
  border: 2px solid #7c7bef;
  border-radius: 3px;
  padding: 2em;
  width: 60vw;
}

.item-image {
  align-self: center;
}

.item-image img {
  width: 10vw;
}

#about {
  padding-top: 22vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

#about > .section-text {
  padding-right: 3em;
}

#about > .section-img {
  width: 30%;
  margin: auto;
}
#about > .section-img img {
  width: -webkit-fill-available;
  border-radius: 10px;
}

button {
  background-color: white;
  border: 1px solid #7c7bef;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.5em;
  font-family: "Raleway";
  margin: 0.5em;
}

button:hover {
  background-color: #7c7bef;
  color: white;
}

button a {
  text-decoration: none;
  color: inherit;
}

.item-text a {
  color: inherit;
}
